body {
    background-color: #6c676b;
    font-family: 'Roboto',sans-serif;
    background:url(../images/pexels-aditya-aiyar-1407325.jpg) no-repeat;
    background-size: cover;
}
.signup-box {
    width: 360px;
    height: 548px;
    margin: auto;
    background-color: #dfd8eff0;
    border-radius: 3px;
    opacity: 3;
}
.login-box {
 width: 360px;
 height: 350px;
 margin: auto;
 background-color: #dfd8eff0;
 border-radius: 3px;
}
h1{
    text-align: center;
    padding-top: 15px;
}
h4 {
    text-align: center;
}
form {
    width: 300px;
    margin-left: 20px;
}
form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input {
    width: 100%;
    padding:7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    /* outline: none; */
}
button {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #16c123;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
button:hover {
    color: #109629;
}
p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.para-2{
text-align: center;
color: #4e4242;
font-size: 15px;
margin-top: 15px;
}
.para-2 a {
    color: #10eb10;
}
.error-msg {
    margin: 10px 0;
    display: block;
    background:crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    padding-top: -20px;
}


@media screen and (max-width:600px) {
   body {
    background-color: #6c676b;
    font-family: 'Roboto',sans-serif;
    background:url(../images/pexels-aditya-aiyar-1407325.jpg) no- ;
    background-size:cover;
    height: 100vh;
}
}

